body {
	margin: 0;
	padding: 0;
}

img {
	width: 96px;
	height: 128px;

	margin: 0;
	padding: 0;
}

#frame {
	padding-top: 128px;
	padding-left: 10em;
	padding-right: 10em;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#searchbar {

}

#search {
	position: fixed;

	width: 75%;

	opacity: 0.85;

	font-size: 24pt;
	border-style: none;
	outline: none;
	text-align: center;
	padding: 0.2em;
	margin: 1em 0 1em 12.5%;
}


div.c-n {
	background-color: rgb(237, 235, 52);
}

div.c-k {
	background-color: red;
}

div.c-m {
	background-color: blue;
}

div.c-3 {
	background-color: green;
}

div.c-none {
	background-color: white;
}

div.highlight {
    position: absolute;
    padding: 8px 64px 225px 8px;

    margin-top: -8px;
    margin-left: -8px;

    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,1);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,1);
}