body {
	margin: 0;
	padding: 0;

	font-family: sans-serif;
}

img {
	width: 96px;
	height: 128px;

	margin: 0;
	padding: 0;
}

img.flag {
	float: right;
	width: initial;
	height: initial;
	padding-left: 8px;
	margin-top: -6px;
}

#frame {
	padding-top: 128px;
	padding-left: 5%;
	padding-right: 5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.highlight a {
	text-decoration: none;
	color: inherit;
}

/*
#frame img {
	display: none;
}
*/

#searchbar {

}

#search {
	position: fixed;

	width: 75%;

	opacity: 0.85;

	font-size: 24pt;
	border-style: none;
	outline: none;
	text-align: center;
	padding: 0.2em;
	margin: 1em 0 1em 12.5%;
}


div.c-n {
	background-color: yellow;
	color: purple;
}

div.c-k {
	background-color: red;
	color: white;
}

div.c-m {
	background-color: blue;
	color: white;
}

div.c-3 {
	background-color: green;
	color: white;
}

div.c-none {
	background-color: white;
}

div.highlight {
    position: absolute;
    padding: 8px 8px 8px 8px;

    margin-top: -8px;
    margin-left: -8px;

    max-width: 192px;

    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,1);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,1);
}

div.highlight ul {
	list-style: none;
	padding: 0;
}

div.highlight ul li {
	padding-bottom: 0.5em;
}
